In [1]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv(r"C:\Users\thama\Downloads\StudentsPerformance.csv")
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
5,female,group B,high school,free/reduced,completed,23,44,36
6,female,group B,some high school,free/reduced,none,24,38,27
7,female,group D,associate's degree,free/reduced,none,26,31,38
8,female,group D,some high school,free/reduced,none,19,34,32
9,female,group C,high school,standard,none,29,29,30
10,female,group C,some high school,free/reduced,completed,29,40,44
11,female,group D,bachelor's degree,free/reduced,none,29,41,47
12,female,group B,some high school,standard,completed,32,51,44
13,female,group C,some college,free/reduced,none,32,39,33
14,female,group E,some high school,free/reduced,none,32,34,38
15,female,group C,high school,free/reduced,none,33,41,43
16,female,group A,high school,free/reduced,completed,34,48,41
17,female,group C,high school,free/reduced,none,34,42,39
18,female,group C,high school,free/reduced,none,26,61,54
19,female,group C,some college,free/reduced,none,25,44,43
20,female,group C,high school,free/reduced,none,22,53,46
21,female,group D,some high school,free/reduced,completed,35,55,60
22,female,group C,high school,free/reduced,none,36,53,43
23,female,group A,associate's degree,free/reduced,none,37,57,56
24,female,group B,some high school,standard,none,37,46,46
25,female,group E,bachelor's degree,standard,none,37,45,38
26,female,group A,some high school,free/reduced,none,38,43,43
27,female,group B,high school,free/reduced,none,38,60,50
28,female,group E,some high school,free/reduced,none,38,49,45
29,female,group C,associate's degree,standard,none,39,64,57
...,...,...,...,...,...,...,...,...
970,male,group E,associate's degree,free/reduced,none,90,90,82
971,male,group A,bachelor's degree,standard,none,91,96,92
972,male,group B,associate's degree,standard,completed,91,89,92
973,male,group B,some college,standard,completed,91,96,91
974,male,group C,some college,standard,none,91,74,76
975,male,group C,bachelor's degree,standard,completed,91,81,79
976,male,group C,master's degree,standard,completed,91,85,85
977,male,group E,associate's degree,free/reduced,completed,91,73,80
978,male,group C,associate's degree,standard,none,92,79,84
979,male,group E,some high school,standard,none,92,87,78
980,male,group C,some college,standard,completed,93,84,90
981,male,group E,some college,free/reduced,none,93,90,83
982,male,group B,some high school,standard,completed,94,86,87
983,male,group C,bachelor's degree,standard,completed,94,90,91
984,male,group E,some high school,standard,none,94,88,78
985,male,group E,associate's degree,standard,completed,94,85,82
986,male,group E,high school,standard,none,94,73,71
987,male,group D,master's degree,standard,none,95,81,84
988,male,group C,bachelor's degree,standard,completed,96,90,92
989,male,group A,associate's degree,standard,completed,97,92,86
990,male,group C,associate's degree,standard,none,97,93,91
991,male,group E,some college,standard,none,97,87,82
992,male,group E,associate's degree,standard,completed,97,82,88
993,male,group C,some college,standard,completed,98,86,90
994,male,group C,associate's degree,standard,completed,98,87,90
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [16]:
pd.value_counts(data['gender'])

female    518
male      482
Name: gender, dtype: int64

In [17]:
pd.value_counts(data['parental level of education'])

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [18]:
gr=data.groupby('gender')
f=(gr.get_group('female'))
f

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
5,female,group B,high school,free/reduced,completed,23,44,36
6,female,group B,some high school,free/reduced,none,24,38,27
7,female,group D,associate's degree,free/reduced,none,26,31,38
8,female,group D,some high school,free/reduced,none,19,34,32
9,female,group C,high school,standard,none,29,29,30
10,female,group C,some high school,free/reduced,completed,29,40,44
11,female,group D,bachelor's degree,free/reduced,none,29,41,47
12,female,group B,some high school,standard,completed,32,51,44
13,female,group C,some college,free/reduced,none,32,39,33
14,female,group E,some high school,free/reduced,none,32,34,38
15,female,group C,high school,free/reduced,none,33,41,43
16,female,group A,high school,free/reduced,completed,34,48,41
17,female,group C,high school,free/reduced,none,34,42,39
18,female,group C,high school,free/reduced,none,26,61,54
19,female,group C,some college,free/reduced,none,25,44,43
20,female,group C,high school,free/reduced,none,22,53,46
21,female,group D,some high school,free/reduced,completed,35,55,60
22,female,group C,high school,free/reduced,none,36,53,43
23,female,group A,associate's degree,free/reduced,none,37,57,56
24,female,group B,some high school,standard,none,37,46,46
25,female,group E,bachelor's degree,standard,none,37,45,38
26,female,group A,some high school,free/reduced,none,38,43,43
27,female,group B,high school,free/reduced,none,38,60,50
28,female,group E,some high school,free/reduced,none,38,49,45
29,female,group C,associate's degree,standard,none,39,64,57
...,...,...,...,...,...,...,...,...
488,female,group B,some college,standard,completed,88,95,92
489,female,group C,some college,standard,completed,88,93,93
490,female,group C,some college,standard,completed,88,95,94
491,female,group D,associate's degree,standard,completed,88,92,95
492,female,group D,high school,standard,completed,88,99,100
493,female,group E,master's degree,standard,completed,88,99,95
494,female,group D,bachelor's degree,standard,none,89,100,100
495,female,group B,master's degree,standard,none,90,95,93
496,female,group B,associate's degree,standard,completed,90,90,91
497,female,group C,associate's degree,standard,none,91,86,84
498,female,group C,associate's degree,standard,none,91,95,94
499,female,group A,some high school,standard,completed,92,100,97
500,female,group C,bachelor's degree,standard,completed,92,100,99
501,female,group D,master's degree,standard,none,92,100,100
502,female,group E,bachelor's degree,free/reduced,completed,92,100,100
503,female,group D,bachelor's degree,free/reduced,completed,93,100,100
504,female,group E,associate's degree,standard,completed,93,100,95
505,female,group B,associate's degree,standard,completed,94,87,92
506,female,group E,master's degree,standard,completed,94,99,100
507,female,group E,associate's degree,standard,completed,95,89,92
508,female,group C,bachelor's degree,standard,completed,96,100,100
509,female,group C,associate's degree,standard,completed,96,96,99
510,female,group B,bachelor's degree,standard,none,97,97,96
511,female,group D,some high school,standard,completed,97,100,100
512,female,group D,some college,standard,none,98,100,99
513,female,group E,bachelor's degree,standard,completed,99,100,100
514,female,group E,high school,standard,none,99,93,90
515,female,group E,some college,standard,none,100,92,97
516,female,group E,bachelor's degree,standard,none,100,100,100
517,female,group E,associate's degree,standard,none,100,100,100

In [8]:
m=(gr.get_group('male'))
m

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
518,male,group C,high school,free/reduced,none,27,34,36
519,male,group A,some college,free/reduced,none,28,23,19
520,male,group B,high school,free/reduced,none,30,24,15
521,male,group E,some high school,standard,none,30,26,22
522,male,group B,some college,free/reduced,none,31,32,34
523,male,group B,some college,free/reduced,none,32,34,39
524,male,group C,some college,free/reduced,none,35,28,27
525,male,group D,high school,free/reduced,none,35,34,36
526,male,group B,high school,free/reduced,none,36,29,27
527,male,group C,bachelor's degree,free/reduced,none,37,56,47
528,male,group B,some high school,free/reduced,none,38,42,45
529,male,group A,some high school,free/reduced,none,39,39,34
530,male,group D,bachelor's degree,free/reduced,completed,39,42,38
531,male,group A,associate's degree,free/reduced,completed,40,55,53
532,male,group C,high school,free/reduced,completed,40,46,50
533,male,group D,associate's degree,standard,none,40,52,43
534,male,group D,some college,standard,none,40,42,38
535,male,group D,high school,standard,none,41,52,51
536,male,group D,high school,free/reduced,none,42,39,34
537,male,group B,some high school,standard,completed,43,41,41
538,male,group C,associate's degree,free/reduced,completed,43,45,50
539,male,group B,associate's degree,free/reduced,none,44,41,38
540,male,group D,some college,standard,none,44,54,53
541,male,group D,high school,free/reduced,none,44,51,48
542,male,group A,high school,free/reduced,none,45,47,49
543,male,group C,some high school,free/reduced,completed,45,52,49
544,male,group D,some high school,free/reduced,none,45,37,37
545,male,group D,high school,standard,none,45,48,46
546,male,group A,some high school,standard,completed,46,41,43
547,male,group C,associate's degree,standard,none,46,43,42
...,...,...,...,...,...,...,...,...
970,male,group E,associate's degree,free/reduced,none,90,90,82
971,male,group A,bachelor's degree,standard,none,91,96,92
972,male,group B,associate's degree,standard,completed,91,89,92
973,male,group B,some college,standard,completed,91,96,91
974,male,group C,some college,standard,none,91,74,76
975,male,group C,bachelor's degree,standard,completed,91,81,79
976,male,group C,master's degree,standard,completed,91,85,85
977,male,group E,associate's degree,free/reduced,completed,91,73,80
978,male,group C,associate's degree,standard,none,92,79,84
979,male,group E,some high school,standard,none,92,87,78
980,male,group C,some college,standard,completed,93,84,90
981,male,group E,some college,free/reduced,none,93,90,83
982,male,group B,some high school,standard,completed,94,86,87
983,male,group C,bachelor's degree,standard,completed,94,90,91
984,male,group E,some high school,standard,none,94,88,78
985,male,group E,associate's degree,standard,completed,94,85,82
986,male,group E,high school,standard,none,94,73,71
987,male,group D,master's degree,standard,none,95,81,84
988,male,group C,bachelor's degree,standard,completed,96,90,92
989,male,group A,associate's degree,standard,completed,97,92,86
990,male,group C,associate's degree,standard,none,97,93,91
991,male,group E,some college,standard,none,97,87,82
992,male,group E,associate's degree,standard,completed,97,82,88
993,male,group C,some college,standard,completed,98,86,90
994,male,group C,associate's degree,standard,completed,98,87,90
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [24]:
print('Average score in Maths for female students is',f['math score'].mean())
print('Average score in Maths for male students is',m['math score'].mean())

Average score in Maths for female students is 63.37644787644788
Average score in Maths for male students is 68.82157676348548

In [25]:
print('Average score in Reading for female students is',f['reading score'].mean())
print('Average score in Reading for male students is',m['reading score'].mean())

Average score in Reading for female students is 72.59073359073359
Average score in Reading for male students is 65.54564315352697

In [31]:
print('Average score in Writing for female students is',f['writing score'].mean())
print('Average score in Writing for male students is',m['writing score'].mean())

Average score in Writing for female students is 72.46718146718146
Average score in Writing for male students is 63.446058091286304

In [36]:
gr1 = data.groupby('test preparation course')

In [37]:
n=(gr1.get_group('none'))
n

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
6,female,group B,some high school,free/reduced,none,24,38,27
7,female,group D,associate's degree,free/reduced,none,26,31,38
8,female,group D,some high school,free/reduced,none,19,34,32
9,female,group C,high school,standard,none,29,29,30
11,female,group D,bachelor's degree,free/reduced,none,29,41,47
13,female,group C,some college,free/reduced,none,32,39,33
14,female,group E,some high school,free/reduced,none,32,34,38
15,female,group C,high school,free/reduced,none,33,41,43
17,female,group C,high school,free/reduced,none,34,42,39
18,female,group C,high school,free/reduced,none,26,61,54
19,female,group C,some college,free/reduced,none,25,44,43
20,female,group C,high school,free/reduced,none,22,53,46
22,female,group C,high school,free/reduced,none,36,53,43
23,female,group A,associate's degree,free/reduced,none,37,57,56
24,female,group B,some high school,standard,none,37,46,46
25,female,group E,bachelor's degree,standard,none,37,45,38
26,female,group A,some high school,free/reduced,none,38,43,43
27,female,group B,high school,free/reduced,none,38,60,50
28,female,group E,some high school,free/reduced,none,38,49,45
29,female,group C,associate's degree,standard,none,39,64,57
30,female,group D,high school,free/reduced,none,39,52,46
31,female,group B,associate's degree,standard,none,40,48,50
32,female,group C,master's degree,free/reduced,none,40,58,54
33,female,group C,associate's degree,standard,none,40,59,51
34,female,group D,master's degree,free/reduced,none,40,59,54
...,...,...,...,...,...,...,...,...
937,male,group E,some college,standard,none,86,76,74
940,male,group B,associate's degree,standard,none,87,85,73
944,male,group C,associate's degree,free/reduced,none,87,73,72
948,male,group E,associate's degree,standard,none,87,74,76
950,male,group B,some high school,standard,none,88,84,75
952,male,group B,bachelor's degree,free/reduced,none,88,75,76
953,male,group C,high school,standard,none,88,89,86
954,male,group D,high school,standard,none,88,78,75
955,male,group D,some college,standard,none,88,73,78
956,male,group D,bachelor's degree,standard,none,88,78,83
958,male,group D,some college,standard,none,88,77,77
959,male,group D,master's degree,standard,none,89,84,82
961,male,group D,high school,standard,none,89,87,79
962,male,group E,associate's degree,standard,none,89,76,74
964,male,group B,associate's degree,standard,none,90,78,81
966,male,group C,high school,standard,none,90,75,69
967,male,group D,associate's degree,free/reduced,none,90,87,75
968,male,group D,associate's degree,standard,none,90,87,85
969,male,group E,master's degree,standard,none,90,85,84
970,male,group E,associate's degree,free/reduced,none,90,90,82
971,male,group A,bachelor's degree,standard,none,91,96,92
974,male,group C,some college,standard,none,91,74,76
978,male,group C,associate's degree,standard,none,92,79,84
979,male,group E,some high school,standard,none,92,87,78
981,male,group E,some college,free/reduced,none,93,90,83
984,male,group E,some high school,standard,none,94,88,78
986,male,group E,high school,standard,none,94,73,71
987,male,group D,master's degree,standard,none,95,81,84
990,male,group C,associate's degree,standard,none,97,93,91
991,male,group E,some college,standard,none,97,87,82

In [41]:
c=(gr1.get_group('completed'))
c

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
5,female,group B,high school,free/reduced,completed,23,44,36
10,female,group C,some high school,free/reduced,completed,29,40,44
12,female,group B,some high school,standard,completed,32,51,44
16,female,group A,high school,free/reduced,completed,34,48,41
21,female,group D,some high school,free/reduced,completed,35,55,60
35,female,group D,some high school,free/reduced,completed,32,65,64
42,female,group C,some college,free/reduced,completed,34,66,69
43,female,group D,associate's degree,free/reduced,completed,42,61,58
44,female,group E,some college,free/reduced,completed,42,55,54
45,female,group C,bachelor's degree,free/reduced,completed,43,51,54
53,female,group C,some high school,standard,completed,44,51,55
57,female,group C,some college,free/reduced,completed,45,73,70
60,female,group B,high school,free/reduced,completed,46,54,58
68,female,group C,bachelor's degree,free/reduced,completed,47,62,66
70,female,group D,master's degree,free/reduced,completed,47,58,67
72,female,group B,some college,free/reduced,completed,48,56,58
90,female,group B,some college,standard,completed,50,64,66
91,female,group C,high school,free/reduced,completed,50,66,64
92,female,group C,some high school,free/reduced,completed,50,60,60
98,female,group C,bachelor's degree,free/reduced,completed,51,72,79
104,female,group B,master's degree,free/reduced,completed,52,70,62
105,female,group B,associate's degree,standard,completed,52,66,73
107,female,group B,some high school,free/reduced,completed,52,67,72
109,female,group C,associate's degree,standard,completed,52,59,62
112,female,group C,bachelor's degree,standard,completed,52,61,66
113,female,group D,high school,free/reduced,completed,52,57,56
115,female,group D,some college,free/reduced,completed,52,59,65
116,female,group A,high school,free/reduced,completed,53,50,60
120,female,group B,some college,free/reduced,completed,53,66,73
129,female,group B,some high school,standard,completed,54,61,62
...,...,...,...,...,...,...,...,...
942,male,group B,some college,standard,completed,87,84,86
943,male,group C,associate's degree,standard,completed,87,100,95
945,male,group D,associate's degree,standard,completed,87,84,85
946,male,group E,some college,free/reduced,completed,87,74,70
947,male,group E,high school,standard,completed,87,91,81
949,male,group E,some high school,standard,completed,87,84,76
951,male,group B,some college,standard,completed,88,85,76
957,male,group D,some high school,standard,completed,88,74,75
960,male,group D,some high school,standard,completed,89,88,82
963,male,group E,some high school,standard,completed,89,84,77
965,male,group B,some college,standard,completed,90,95,92
972,male,group B,associate's degree,standard,completed,91,89,92
973,male,group B,some college,standard,completed,91,96,91
975,male,group C,bachelor's degree,standard,completed,91,81,79
976,male,group C,master's degree,standard,completed,91,85,85
977,male,group E,associate's degree,free/reduced,completed,91,73,80
980,male,group C,some college,standard,completed,93,84,90
982,male,group B,some high school,standard,completed,94,86,87
983,male,group C,bachelor's degree,standard,completed,94,90,91
985,male,group E,associate's degree,standard,completed,94,85,82
988,male,group C,bachelor's degree,standard,completed,96,90,92
989,male,group A,associate's degree,standard,completed,97,92,86
992,male,group E,associate's degree,standard,completed,97,82,88
993,male,group C,some college,standard,completed,98,86,90
994,male,group C,associate's degree,standard,completed,98,87,90
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [49]:
print('Average score in Maths for students who not taken test preparation course is',n['math score'].mean())
print('Average score in Maths for students who completed test preparation course is',c['math score'].mean())

Average score in Maths for students who not taken test preparation course is 63.78971962616822
Average score in Maths for students who completed test preparation course is 69.96648044692738

In [50]:
print('Average score in Reading for students who not taken test preparation course is',n['reading score'].mean())
print('Average score in Reading for students who completed test preparation course is',c['reading score'].mean())

Average score in Reading for students who not taken test preparation course is 66.41744548286604
Average score in Reading for students who completed test preparation course is 74.17597765363128

In [56]:

print('Average score in Writing for students who not taken test preparation course is',n['writing score'].mean())
print('Average score in Writing for students who completed test preparation course is',c['writing score'].mean())

Average score in Writing for students who not taken test preparation course is 64.45794392523365
Average score in Writing for students who completed test preparation course is 74.68435754189944

In [57]:
f['math score'].std()

16.029928046024416

In [58]:
m['math score'].std()

14.556410851750082

In [60]:
f['reading score'].std()

14.411017942724348

In [61]:
m['reading score'].std()

14.149593990092217

In [64]:
f['writing score'].std()

14.844841765750752

In [65]:
m['writing score'].std()

14.227224751791567

In [72]:
print('Standard deviation of Maths score of students who are not taken the test preparation course is =',n['math score'].std())

Standard deviation of Maths score of students who are not taken the test preparation course is = 15.705688832386162

In [73]:
print('Standard deviation of Maths score of students who completed the test preparation course is =',c['math score'].std())

Standard deviation of Maths score of students who completed the test preparation course is = 14.521846554552155

In [75]:
print('Standard deviation of Reading score of students who are not taken the test preparation course is =',n['reading score'].std())

Standard deviation of Reading score of students who are not taken the test preparation course is = 14.608896302820787

In [78]:
print('Standard deviation of Reading score of students who are completed the test preparation course is =',c['reading score'].std())

Standard deviation of Reading score of students who are completed the test preparation course is = 13.537572304052691

In [80]:
print('Standard deviation of Writing score of students who are not taken the test preparation course is =',n['writing score'].std())

Standard deviation of Writing score of students who are not taken the test preparation course is = 15.041666751649458

In [82]:
print('Standard deviation of Writing score of students who are completed the test preparation course is =',c['writing score'].std())

Standard deviation of Writing score of students who are completed the test preparation course is = 13.236412345154768

In [83]:
data.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [86]:
Q1=(1000+1)/4
Q1  
#greater than 25% is the first quartile

250.25

In [85]:
data.nlargest(250,['math score'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
515,female,group E,some college,standard,none,100,92,97
516,female,group E,bachelor's degree,standard,none,100,100,100
517,female,group E,associate's degree,standard,none,100,100,100
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100
513,female,group E,bachelor's degree,standard,completed,99,100,100
514,female,group E,high school,standard,none,99,93,90
995,male,group E,some college,standard,completed,99,87,81
512,female,group D,some college,standard,none,98,100,99
993,male,group C,some college,standard,completed,98,86,90
994,male,group C,associate's degree,standard,completed,98,87,90
510,female,group B,bachelor's degree,standard,none,97,97,96
511,female,group D,some high school,standard,completed,97,100,100
989,male,group A,associate's degree,standard,completed,97,92,86
990,male,group C,associate's degree,standard,none,97,93,91
991,male,group E,some college,standard,none,97,87,82
992,male,group E,associate's degree,standard,completed,97,82,88
508,female,group C,bachelor's degree,standard,completed,96,100,100
509,female,group C,associate's degree,standard,completed,96,96,99
988,male,group C,bachelor's degree,standard,completed,96,90,92
507,female,group E,associate's degree,standard,completed,95,89,92
987,male,group D,master's degree,standard,none,95,81,84
505,female,group B,associate's degree,standard,completed,94,87,92
506,female,group E,master's degree,standard,completed,94,99,100
982,male,group B,some high school,standard,completed,94,86,87
983,male,group C,bachelor's degree,standard,completed,94,90,91
984,male,group E,some high school,standard,none,94,88,78
985,male,group E,associate's degree,standard,completed,94,85,82
...,...,...,...,...,...,...,...,...
434,female,group D,bachelor's degree,free/reduced,none,78,90,93
435,female,group D,master's degree,standard,none,78,91,96
857,male,group A,some college,standard,completed,78,72,70
858,male,group B,high school,standard,completed,78,69,67
859,male,group C,associate's degree,free/reduced,completed,78,81,82
860,male,group C,associate's degree,standard,completed,78,77,77
861,male,group C,some high school,standard,completed,78,72,69
862,male,group D,high school,free/reduced,completed,78,77,80
863,male,group D,some high school,standard,completed,78,81,86
864,male,group E,some high school,free/reduced,completed,78,83,80
865,male,group E,associate's degree,free/reduced,completed,78,74,72
414,female,group A,high school,free/reduced,completed,77,88,85
415,female,group B,master's degree,free/reduced,completed,77,97,94
416,female,group B,bachelor's degree,free/reduced,none,77,85,87
417,female,group B,master's degree,standard,none,77,90,84
418,female,group B,high school,standard,completed,77,82,89
419,female,group C,bachelor's degree,standard,none,77,88,87
420,female,group C,bachelor's degree,standard,completed,77,94,95
421,female,group C,some college,free/reduced,none,77,90,91
422,female,group C,some high school,standard,completed,77,90,85
423,female,group C,some high school,standard,none,77,91,88
424,female,group D,associate's degree,free/reduced,completed,77,89,98
425,female,group D,master's degree,standard,completed,77,82,91
426,female,group D,some college,standard,none,77,68,77
427,female,group D,associate's degree,standard,none,77,77,73
428,female,group D,some college,free/reduced,none,77,86,86
429,female,group E,some high school,standard,none,77,79,80
849,male,group A,bachelor's degree,standard,none,77,67,68
850,male,group C,associate's degree,free/reduced,none,77,67,64
851,male,group D,some college,standard,completed,77,62,62